XmlValidator/Schemas/recommendation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.example.org/RestaurantFinder" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
<element name="Recommendation">
	<complexType>
		<sequence>
			<element name="UserId" minOccurs="1" maxOccurs="1" type="integer"></element>
			<element name="RestaurantId " minOccurs="1" maxOccurs="1" type="integer"></element>
		</sequence>
	</complexType>
</element>
</schema>